.footer-wrapper {
    min-width: 100%;
    width: 100%;
    min-height: 10vw;
    height: 10vw;

    border-top: 1px solid #D58C51;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (min-width: 1201px) {

}

@media all and (max-width: 1200px) and (min-width: 1025px) {

}

@media all and (max-width: 1024px) and (min-width: 769px) {

}

@media all and (max-width: 768px) and (min-width: 481px ) {

}

@media all and (max-width: 480px) and (min-width: 320px) {
    .footer-wrapper {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        min-height: 30vw;
        height: 30vw;
    }
}

@media all and (max-width: 319px) {
    .footer-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        min-height: 50vw;
        height: 50vw;
    }
}
