.title-wrapper {
    min-width: 50%;
    width: 50%;


    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title {
    text-transform: uppercase;
    font-weight: normal;
    margin-right: 10px;
}

.price {
    color: #D58C51;
}
@media all and (min-width: 1201px) {

}

@media all and (max-width: 1200px) and (min-width: 1025px) {

}

@media all and (max-width: 1024px) and (min-width: 769px) {

}

@media all and (max-width: 768px) and (min-width: 481px ) {

}

@media all and (max-width: 480px) and (min-width: 320px) {
    .title-wrapper {
        width: 100%;

        flex-direction: column;
        justify-content: center;
    }
}

@media all and (max-width: 319px) {
    .title-wrapper {
        width: 100%;

        flex-direction: column;
        justify-content: center;
    }
}
