.button-wrapper {
    /*min-width: 5%;*/
    /*width: 5%;*/
    min-height: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.button {
    background-color: #000000;

    border: 1px solid #D58C51;
    outline: none;
    cursor: pointer;
    border-radius: 100%;

    color: #D58C51;

    padding: 15px 20px;

    display: inline-block;

    transition:  color .5s, background-color .5s;
}

.button:hover {
    background-color: #D58C51;
    color: white;
}