.cart {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-wrapper {
    min-width: 90%;
    width: 90%;
    min-height: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/

    background-color: #000000;
    color: #ffffff;
}