.products-list-wrapper {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #000000;
    color: #ffffff;

}
