.header__cart-button {
    background-color: #D58C51;

    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 100%;

    color: #000000;
    width: 100%;
    height: 100%;

    padding: 10px 15px;

    display: inline-block;

    transition:  opacity .5s;
}
.header__cart-button:hover {
    opacity: .8;
}
.header__cart-button img {
    /*object-fit: contain;*/
    /*width: 100%;*/
    /*height: 100%;*/
}
.button-wrapper
{
    display: flex;
    align-items: center;
    height: 100%;
}



@media all and (min-width: 1201px) {
    .header__cart-button {
        padding: 10px 15px;
    }

}
@media all and (max-width: 1200px) and (min-width:1025px){
    .header__cart-button {
        padding: 10px 15px;
    }

}
@media all and (max-width:1024px) and (min-width: 769px){
    .header__cart-button {
        padding: 10px 15px;
    }

}
@media all and (max-width: 768px) and (min-width:481px ){
    .header__cart-button {
        padding: 5px 10px;
    }

}
@media all and (max-width: 480px) and (min-width: 320px){
    .header__cart-button {
        padding: 2px 5px;
    }
}
@media all and (max-width: 319px){
    .header__cart-button {
        padding: 2px 5px;
    }
}