.footer {
    min-width: 95%;
    width: 95%;
    min-height: 13%;
    height: 13%;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    margin-bottom: 10px;

}

.footer-info {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media all and (min-width: 1201px) {

    .footer-info {
        font-size: 1.8vw;
    }
}
@media all and (max-width: 1200px) and (min-width:1025px){

    .footer-info {
        font-size: 1.8vw;
    }
}
@media all and (max-width:1024px) and (min-width: 769px){

    .footer-info {
        font-size: 2.2vw;
    }
}
@media all and (max-width: 768px) and (min-width:481px ){

    .footer-info {
        font-size: 3vw;
    }
}
@media all and (max-width: 480px) and (min-width: 320px){

    .footer-info {
        font-size: 4.5vw;
    }
}
@media all and (max-width: 319px){

    .footer-info {
        font-size: 10vw;
    }
}