.body {
    min-width: 95%;
    width: 95%;
    min-height: calc(54% - 20px);
    height: 54%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.body h4 {
    text-align: center;
}

.body p {
    text-align: justify;
}

@media all and (min-width: 1201px) {
    .body h4 {
        font-size: 1.4vw;
    }

    .body p {
        font-size: 1.2vw;
    }
}

@media all and (max-width: 1200px) and (min-width: 1025px) {
    .body h4 {
        font-size: 1.4vw;
    }

    .body p {
        font-size: 1.2vw;
    }
}

@media all and (max-width: 1024px) and (min-width: 769px) {
    .body h4 {
        font-size: 1.6vw;
    }

    .body p {
        font-size: 1.4vw;
    }
}

@media all and (max-width: 768px) and (min-width: 481px ) {
    .body h4 {
        font-size: 2.4vw;
    }

    .body p {
        font-size: 2.1vw;
    }
}

@media all and (max-width: 480px) and (min-width: 320px) {
    .body h4 {
        font-size: 3.6vw;
    }

    .body p {
        font-size: 3.2vw;
    }
}

@media all and (max-width: 319px) {
    .body h4 {
        font-size: 7vw;
        text-align: center;
    }

    .body p {
        font-size: 6vw;
        text-align: justify;
    }
}