.item-wrapper {
    min-width: 100%;
    width: 100%;
    min-height: 10vw;
    height: 10vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

@media all and (min-width: 1201px) {

}

@media all and (max-width: 1200px) and (min-width: 1025px) {

}

@media all and (max-width: 1024px) and (min-width: 769px) {

}

@media all and (max-width: 768px) and (min-width: 481px ) {
.item-wrapper {
    flex-wrap: wrap;
}
}

@media all and (max-width: 480px) and (min-width: 320px) {

}

@media all and (max-width: 319px) {


}