.back-button {
    background-color: #D58C51;

    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;

    color: #000000;

    padding: 5px 10px;

    display: inline-block;

    transition:  opacity .5s;
}
.back-button:hover {
    opacity: .8;
}

@media all and (min-width: 1201px) {
    .back-button{
        padding: 5px 10px;
    }
}
@media all and (max-width: 1200px) and (min-width:1025px){
    .back-button{
        padding: 5px 10px;
    }
}
@media all and (max-width:1024px) and (min-width: 769px){
    .back-button{
        padding: 5px 10px;
    }
}
@media all and (max-width: 768px) and (min-width:481px ){
    .back-button{
        padding: 5px 10px;
    }
}
@media all and (max-width: 480px) and (min-width: 320px){
    .back-button{
        padding: 5px 10px;
    }
}
@media all and (max-width: 319px){
    .back-button{
        padding: 5px 10px;
    }
}