.cart-wrapper {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: space-between;

}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 10%;
}

@media all and (min-width: 1201px) {
    .cart-wrapper {
        width: 50%;
    }

}
@media all and (max-width: 1200px) and (min-width:1025px){
    .cart-wrapper {
        width: 50%;
    }

}
@media all and (max-width:1024px) and (min-width: 769px){
    .cart-wrapper {
        width: 50%;
    }

}
@media all and (max-width: 768px) and (min-width:481px ){
    .cart-wrapper {
        width: 50%;
    }

}
@media all and (max-width: 480px) and (min-width: 320px){
    .cart-wrapper {
        width: 40%;
    }
    .button-wrapper {
        width: 40%;
    }
}
@media all and (max-width: 319px){
    .cart-wrapper {
        width: 30%;
    }
    .button-wrapper {
        width: 40%;
    }
}
