.title-wrapper {
    min-width: 100%;
    min-height: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;

    color: #000000;
}

@media all and (max-width: 1200px) and (min-width:1025px){

}
@media all and (max-width:1024px) and (min-width: 769px){

}
@media all and (max-width: 768px) and (min-width:481px ){

}
@media all and (max-width: 480px) and (min-width: 320px){

}