.header {
    min-width: 100%;
    width: 100%;
    min-height: 10vw;
    height: 10vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header h1 {
    text-transform: uppercase;
}
.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 5%;
    height: 100%;
}
.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;
}
@media all and (min-width: 1201px) {

}

@media all and (max-width: 1200px) and (min-width: 1025px) {

}

@media all and (max-width: 1024px) and (min-width: 769px) {
    .header {
        font-size: 90%;
        line-height: 160%;
    }
}

@media all and (max-width: 768px) and (min-width: 481px ) {
    .header {
        font-size: 80%;
        line-height: 160%;
    }
    .button-wrapper {
        width: 15%;
    }
    .title-wrapper {

    }
}

@media all and (max-width: 480px) and (min-width: 320px) {
    .header {
        font-size: 60%;
        line-height: 160%;
    }
    .button-wrapper {
        width: 20%;
    }
}

@media all and (max-width: 319px) {
    .header {
        font-size: 50%;
        line-height: 160%;
    }
    .button-wrapper {
        width: 25%;
    }
}
