.card {
    min-width: calc((100% / 5) - (4 * 20px / 5));
    width: calc((100% / 5) - (4 * 20px / 5));
    min-height: 30vw;
    height: 30vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    cursor: pointer;

    border: 1px solid #D58C51;

    margin: 0 20px 20px 0;

    transition: box-shadow .5s, color .8s, min-width .1s, width .1s, min-height .1s, height .1s;

}

.card:hover {
    box-shadow: 0 0 10px 2px #D58C51;
    color: #D58C51;
}

@media all and (min-width: 1201px) {
    .card {
        min-width: calc((100% / 5) - (4 * 20px / 5));
        width: calc((100% / 5) - (4 * 20px / 5));
        min-height: 30vw;
        height: 30vw;
    }
    .card:nth-child(5n) {
        margin-right: 0;
    }
}

@media all and (max-width: 1200px) and (min-width: 1025px) {
    .card {
        min-width: calc((100% / 5) - (4 * 20px / 5));
        width: calc((100% / 5) - (4 * 20px / 5));
        min-height: 30vw;
        height: 30vw;
    }
    .card:nth-child(5n) {
        margin-right: 0;
    }
}

@media all and (max-width: 1024px) and (min-width: 769px) {
    .card {
        min-width: calc((100% / 4) - (3 * 20px / 4));
        width: calc((100% / 4) - (3 * 20px / 4));
        min-height: 35vw;
        height: 35vw;
    }
    .card:nth-child(4n) {
        margin-right: 0;
    }
}

@media all and (max-width: 768px) and (min-width: 481px ) {
    .card {
        min-width: calc((100% / 3) - (2 * 20px / 3));
        width: calc((100% / 3) - (2 * 20px / 3));
        min-height: 50vw;
        height: 50vw;
    }
    .card:nth-child(3n) {
        margin-right: 0;
    }
}

@media all and (max-width: 480px) and (min-width: 320px) {
    .card {
        min-width: calc((100% / 2) - (20px / 2));
        width: calc((100% / 2) - (20px / 2));
        min-height: 75vw;
        height: 75vw;
    }
    .card:nth-child(2n) {
        margin-right: 0;
    }
}

@media all and (max-width: 319px) {
    .card {
        min-width: calc((100%) + (10px));
        width: calc((100%) + (10px));
        min-height: 130vw;
        height: 130vw;
    }
    .card:nth-child(1n) {
        margin-right: 0;
    }
}