@media all and (min-width: 1201px) {
    .input-wrapper {
        min-width: 100%;
        min-height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        text-transform: uppercase;

        color: #000000;
    }

    .email-input {
        border: 1px solid #D58C51;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
        padding: 4px 6px;

        width: 90%;

        transition: box-shadow .5s;
    }

    .email-input:hover {
        box-shadow: 0 0 2px 2px #D58C51;
    }
}

.input-wrapper {
    min-width: 100%;
    min-height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;

    color: #000000;
}

.email-input {
    border: 1px solid #D58C51;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    padding: 4px 6px;

    width: 90%;

    transition: box-shadow .5s;
}

.email-input:hover {
    box-shadow: 0 0 2px 2px #D58C51;
}

@media all and (min-width: 1201px) {

}
@media all and (max-width: 1200px) and (min-width:1025px){

}
@media all and (max-width:1024px) and (min-width: 769px){

}
@media all and (max-width: 768px) and (min-width:481px ){

}
@media all and (max-width: 480px) and (min-width: 320px){

}
@media all and (max-width: 319px){

}

