.header__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    min-width: 50%;
    height: 100%;

    text-transform: uppercase;

    text-decoration: none;
    color: #ffffff;
    transition: opacity .5s;
}

.title-wrapper {
    height: 100%;
    width: 80%;

    display: flex;
    align-items: center;
}

.back-button-wrapper {
    width: 10%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media all and (min-width: 1201px) {
    .back-button-wrapper {
        width: 10%;
    }
}

@media all and (max-width: 1200px) and (min-width: 1025px) {
    .back-button-wrapper {
        width: 10%;
    }
}

@media all and (max-width: 1024px) and (min-width: 769px) {
    .back-button-wrapper {
        width: 10%;
    }
}

@media all and (max-width: 768px) and (min-width: 481px ) {
    .back-button-wrapper {
        width: 10%;
    }
}

@media all and (max-width: 480px) and (min-width: 320px) {
    .back-button-wrapper {
        width: 15%;
    }
    .header__title {
        min-width: 20%;
        width: 65%;
    }
    .title-wrapper {
        width: 50%;
    }
}

@media all and (max-width: 319px) {
    .back-button-wrapper {
        width: 15%;
    }
    .header__title {
        min-width: 20%;
        width: 65%;
    }
    .title-wrapper {
        width: 50%;
    }
}
