/* Customize the label (the container) */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 84%;
    min-height: 20%;

    position: relative;
    padding-left: 35px;

    cursor: pointer;

    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;

    left: -2%;
    height: 15px;
    width: 15px;


    border-radius: 100%;
    border: 1px solid #D58C51;
    transition: box-shadow .5s;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    box-shadow: 0 0 2px 2px #D58C51;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #D58C51;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 25%;
    top: -5%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media all and (min-width: 1201px) {

}
@media all and (max-width: 1200px) and (min-width:1025px){

}
@media all and (max-width:1024px) and (min-width: 769px){

}
@media all and (max-width: 768px) and (min-width:481px ){

}
@media all and (max-width: 480px) and (min-width: 320px){

}
@media all and (max-width: 319px){


}