.image-wrapper {
    min-width: 20%;
    width: 20%;
    min-height: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.image-wrapper img {
    object-fit: cover;
    width: 50%;
}
@media all and (min-width: 1201px) {

}

@media all and (max-width: 1200px) and (min-width: 1025px) {

}

@media all and (max-width: 1024px) and (min-width: 769px) {

}

@media all and (max-width: 768px) and (min-width: 481px ) {

}

@media all and (max-width: 480px) and (min-width: 320px) {

}

@media all and (max-width: 319px) {

}