
.button-wrapper {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.button {
    border: 1px solid #ffffff;
    outline: none;
    cursor: pointer;
    border-radius: 50%;

    background-color: #000000;
    color: #ffffff;

    font-size: 120%;

    object-fit: cover;
    width: 45%;
    height: 100%;

    display: inline-block;

    transition: background-color .5s, border .5s;
}

.button:hover {
    background-color: #D58C51;
    border-color: #D58C51;
}
