.header {
    min-width: 100%;
    width: 100%;
    min-height: 33%;
    height: 33%;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    margin-top: 10px;
}
.header img {
    object-fit: cover;
    width: 45%;
}
