.form-container {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: url("images/background.png");
    background-size: cover;
    box-sizing: border-box;

}