.header-wrapper {
    min-width: 100%;
    width: 100%;
    min-height: 20%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 100%;

}
.header {
    min-width: 95%;
    width: 95%;
    min-height: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media all and (min-width: 1201px) {
    .header-wrapper{
        font-size: 100%;
        line-height: 100%;
    }
}
@media all and (max-width: 1200px) and (min-width:1025px){
    .header-wrapper{
        font-size: 100%;
        line-height: 100%;
    }
}
@media all and (max-width:1024px) and (min-width: 769px){
    .header-wrapper{
        font-size: 60%;
        line-height: 100%;
    }
}
@media all and (max-width: 768px) and (min-width:481px ){
    .header-wrapper{
        font-size: 50%;
        line-height: 100%;
    }
}
@media all and (max-width: 480px) and (min-width: 320px){
    .header-wrapper{
        font-size: 50%;
        line-height: 150%;
    }
}
@media all and (max-width: 319px){
    .header-wrapper{
        font-size: 50%;
        line-height: 150%;
    }
}