.login-form {
    width: 35vw;
    height: 35vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #ffffff;
    color: #000000;

    box-shadow: 6px 6px 15px 0 #D58C51;

    transition: width .1s, height .1s, font-size .1s;
}
@media all and (min-width: 1201px) {
    .login-form {
        width: 35vw;
        height: 25vw;

        font-size: 90%;
        line-height: 100%;
    }
}

@media all and (max-width: 1200px) and (min-width: 1025px) {
    .login-form {
        width: 35vw;
        height: 25vw;

        font-size: 90%;
        line-height: 100%;
    }
}

@media all and (max-width: 1024px) and (min-width: 769px) {
    .login-form {
        width: 40vw;
        height: 30vw;

        font-size: 80%;
        line-height: 100%;
    }
}

@media all and (max-width: 768px) and (min-width: 481px ) {
    .login-form {
        width: 50vw;
        height: 40vw;

        font-size: 80%;
        line-height: 100%;
    }
}

@media all and (max-width: 480px) and (min-width: 320px) {
    .login-form {
        width: 70vw;
        height: 60vw;

        font-size: 80%;
        line-height: 100%;
    }
}

@media all and (max-width: 319px){
    .login-form {
        width: 80vw;
        height: 70vw;

        font-size: 80%;
        line-height: 100%;
    }
}