.button-wrapper {
    min-width: 50%;
    width: 50%;


    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin: 20px;
}
.button {
    background-color: #D58C51;

    border: none;
    outline: none;
    cursor: pointer;

    color: #000000;

    padding: 10px 64px;

    text-align: center;
    text-decoration: none;

    display: inline-block;

    font-size: 16px;
    font-weight: bold;
    transition:  opacity .5s;
}
.button:hover {
    opacity: .8;
}
@media all and (min-width: 1201px) {

}

@media all and (max-width: 1200px) and (min-width: 1025px) {

}

@media all and (max-width: 1024px) and (min-width: 769px) {

}

@media all and (max-width: 768px) and (min-width: 481px ) {

}

@media all and (max-width: 480px) and (min-width: 320px) {
    .button-wrapper {
        width: 100%;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media all and (max-width: 319px) {
    .button-wrapper {
        width: 100%;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}