*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,
body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}
#root {
  width: 100%;
  min-height: 100%;
  height: 100%;
}
